USE [master]
GO
/****** Object:  Database [QL_GYM]    Script Date: 11/06/2023 02:04:19 AM ******/
CREATE DATABASE [QL_GYM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_GYM', FILENAME = N'E:\Database\GymWeb\QL_GYM.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_GYM_log', FILENAME = N'E:\Database\GymWeb\QL_GYM_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_GYM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_GYM]
GO
/****** Object:  Table [dbo].[DIEMDANH]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMDANH](
	[idDD] [int] NOT NULL,
	[SoLan] [int] NULL,
	[ThoiGian] [datetime] NULL,
	[MaKH] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
 CONSTRAINT [PK__DIEMDANH__27258665A1BD5E6A] PRIMARY KEY CLUSTERED 
(
	[idDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MaGV] [int] NOT NULL,
	[TenGV] [nvarchar](50) NOT NULL,
	[Luong] [float] NOT NULL,
	[MaPhong] [int] NULL,
 CONSTRAINT [PK_PT] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GOITAP]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOITAP](
	[MaGoiTap] [nvarchar](50) NOT NULL,
	[MaLop] [nvarchar](50) NOT NULL,
	[TenGoiTap] [nvarchar](200) NULL,
	[ThoiHan] [int] NULL,
	[Gia] [float] NULL,
	[TrangThai] [int] NULL CONSTRAINT [DF_GOITAP_TrangThai]  DEFAULT ((1)),
	[MaGV] [int] NULL,
 CONSTRAINT [PK_GOITAP_1] PRIMARY KEY CLUSTERED 
(
	[MaGoiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hibernate_sequence]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hibernate_sequence](
	[next_val] [numeric](19, 0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MasoHD] [nvarchar](50) NOT NULL,
	[NgayHD] [date] NULL,
	[MaThe] [nvarchar](50) NULL,
	[MaNV] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MasoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SDT] [char](10) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[Anh] [text] NULL,
	[GhiChu] [varchar](255) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAITHIETBI]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHIETBI](
	[MaLoai] [int] NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAITHIETBI] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOPDV]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPDV](
	[MaLop] [nvarchar](50) NOT NULL,
	[TenLop] [nvarchar](200) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_LOPDV] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nvarchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](11) NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[GioiTinh] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN_HOADON]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN_HOADON](
	[NhanVien_MaNV] [varchar](255) NOT NULL,
	[hoaDons_MasoHD] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MaQuyen] [int] NOT NULL,
	[ChucVu] [nvarchar](100) NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGTAP]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGTAP](
	[MaPhong] [int] NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[NgaySD] [date] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHONGTAP] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[MaQuyen] [int] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THE]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE](
	[MaThe] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NOT NULL,
	[MaGoiTap] [nvarchar](50) NOT NULL,
	[NgayDK] [date] NOT NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
	[Trangthai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_THE] PRIMARY KEY CLUSTERED 
(
	[MaThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MaThietBi] [nvarchar](50) NOT NULL,
	[TenThietBi] [nvarchar](50) NOT NULL,
	[HinhAnh] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[SoLuong] [int] NOT NULL,
	[ThuongHieu] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[NgayNhap] [date] NOT NULL,
	[MaLoai] [int] NULL,
	[MaNV] [nvarchar](50) NULL,
 CONSTRAINT [PK_THIETBI] PRIMARY KEY CLUSTERED 
(
	[MaThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 11/06/2023 02:04:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[MaTinTuc] [int] NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayTao] [date] NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[HinhAnh] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TINTUC] PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[DIEMDANH] ([idDD], [SoLan], [ThoiGian], [MaKH], [MaNV]) VALUES (1, 1, CAST(N'2023-06-09 00:00:00.000' AS DateTime), N'KH1', N'NV1')
INSERT [dbo].[DIEMDANH] ([idDD], [SoLan], [ThoiGian], [MaKH], [MaNV]) VALUES (2, 1, CAST(N'2023-06-09 00:00:00.000' AS DateTime), N'KH2', N'NV1')
INSERT [dbo].[DIEMDANH] ([idDD], [SoLan], [ThoiGian], [MaKH], [MaNV]) VALUES (3, 1, CAST(N'2023-06-09 00:00:00.000' AS DateTime), N'KH3', N'NV1')
INSERT [dbo].[GIANGVIEN] ([MaGV], [TenGV], [Luong], [MaPhong]) VALUES (1, N'PT Hoa', 200000, 1)
INSERT [dbo].[GIANGVIEN] ([MaGV], [TenGV], [Luong], [MaPhong]) VALUES (2, N'PT Vương', 200000, 2)
INSERT [dbo].[GIANGVIEN] ([MaGV], [TenGV], [Luong], [MaPhong]) VALUES (3, N'PT Lê', 1000, 1)
INSERT [dbo].[GOITAP] ([MaGoiTap], [MaLop], [TenGoiTap], [ThoiHan], [Gia], [TrangThai], [MaGV]) VALUES (N'GTNG1', N'GM1', N'ngày', 1, 100000, 1, 1)
INSERT [dbo].[GOITAP] ([MaGoiTap], [MaLop], [TenGoiTap], [ThoiHan], [Gia], [TrangThai], [MaGV]) VALUES (N'GTT2', N'YA2', N'tuần', 7, 500000, 1, 2)
INSERT [dbo].[GOITAP] ([MaGoiTap], [MaLop], [TenGoiTap], [ThoiHan], [Gia], [TrangThai], [MaGV]) VALUES (N'GTTH3', N'BG3', N'tháng', 30, 1000000, 1, 3)
INSERT [dbo].[hibernate_sequence] ([next_val]) VALUES (CAST(16 AS Numeric(19, 0)))
INSERT [dbo].[HOADON] ([MasoHD], [NgayHD], [MaThe], [MaNV]) VALUES (N'HD1', CAST(N'2023-05-29' AS Date), N'TT1', N'NV1')
INSERT [dbo].[HOADON] ([MasoHD], [NgayHD], [MaThe], [MaNV]) VALUES (N'HD2', CAST(N'2023-06-06' AS Date), N'TT2', N'NV1')
INSERT [dbo].[HOADON] ([MasoHD], [NgayHD], [MaThe], [MaNV]) VALUES (N'HD3', CAST(N'2023-06-08' AS Date), N'TT4', N'NV1')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [Email], [SDT], [NgaySinh], [GioiTinh], [Anh], [GhiChu]) VALUES (N'KH1', N'Khánh', N'', N'khanh001@gmail.com', N'0333267901', NULL, N'Nam', NULL, NULL)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [Email], [SDT], [NgaySinh], [GioiTinh], [Anh], [GhiChu]) VALUES (N'KH2', N'Lê Thị Hà', N'Hồ Chí Minh', N'halt@gmail.com', N'0555227441', NULL, N'Nữ', N'KH2.jpg', NULL)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [Email], [SDT], [NgaySinh], [GioiTinh], [Anh], [GhiChu]) VALUES (N'KH3', N'Hòa', N'', N'hoa@gmail.com', N'0678590222', NULL, N'Nữ', NULL, NULL)
INSERT [dbo].[LOAITHIETBI] ([MaLoai], [TenLoai]) VALUES (1, N'Máy Tập Chân')
INSERT [dbo].[LOAITHIETBI] ([MaLoai], [TenLoai]) VALUES (2, N'Tạ')
INSERT [dbo].[LOAITHIETBI] ([MaLoai], [TenLoai]) VALUES (3, N'Máy Tập')
INSERT [dbo].[LOPDV] ([MaLop], [TenLop], [TrangThai]) VALUES (N'BG3', N'Boxing', 1)
INSERT [dbo].[LOPDV] ([MaLop], [TenLop], [TrangThai]) VALUES (N'GM1', N'Gym', 1)
INSERT [dbo].[LOPDV] ([MaLop], [TenLop], [TrangThai]) VALUES (N'YA2', N'Yoga', 1)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [Email], [SDT], [DiaChi], [GioiTinh], [Username]) VALUES (N'NV1', N'Admin', N'vntvnt1512@gmai.com', N'0397181350', N'97 Man Thiện', N'Nữ', N'admin')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [Email], [SDT], [DiaChi], [GioiTinh], [Username]) VALUES (N'NV2', N'Đỗ Lê', N'dole@gmail.com', N'0234567891', N'Hà Nội', N'Nam', N'dole')
INSERT [dbo].[PHANQUYEN] ([MaQuyen], [ChucVu]) VALUES (0, N'Quản Lý')
INSERT [dbo].[PHANQUYEN] ([MaQuyen], [ChucVu]) VALUES (1, N'Nhân viên')
INSERT [dbo].[PHONGTAP] ([MaPhong], [TenPhong], [NgaySD], [MoTa]) VALUES (1, N'BX', CAST(N'2023-06-10' AS Date), N'Từ 8am-10am Thứ 2-4-6 hàng tuần')
INSERT [dbo].[PHONGTAP] ([MaPhong], [TenPhong], [NgaySD], [MoTa]) VALUES (2, N'YG', CAST(N'2023-06-06' AS Date), N'Từ 8pm-10pm hàng ngày')
INSERT [dbo].[TAIKHOAN] ([Username], [Password], [MaQuyen], [TrangThai]) VALUES (N'admin', N'$2a$10$NUFUWL.jvMQ5WRVbP0M0huSgye2j6bYECPM5ikLCQj3Kb.bk6Uhxm', 0, 1)
INSERT [dbo].[TAIKHOAN] ([Username], [Password], [MaQuyen], [TrangThai]) VALUES (N'dole', N'$2a$10$NUFUWL.jvMQ5WRVbP0M0huSgye2j6bYECPM5ikLCQj3Kb.bk6Uhxm', 1, 1)
INSERT [dbo].[THE] ([MaThe], [MaKH], [MaGoiTap], [NgayDK], [NgayBD], [NgayKT], [Trangthai]) VALUES (N'TT1', N'KH1', N'GTNG1', CAST(N'2023-06-19' AS Date), CAST(N'2023-06-10' AS Date), CAST(N'2023-06-11' AS Date), N'Hoạt Động')
INSERT [dbo].[THE] ([MaThe], [MaKH], [MaGoiTap], [NgayDK], [NgayBD], [NgayKT], [Trangthai]) VALUES (N'TT2', N'KH2', N'GTT2', CAST(N'2023-06-06' AS Date), CAST(N'2023-06-06' AS Date), CAST(N'2023-06-20' AS Date), N'Hoạt Động')
INSERT [dbo].[THE] ([MaThe], [MaKH], [MaGoiTap], [NgayDK], [NgayBD], [NgayKT], [Trangthai]) VALUES (N'TT4', N'KH1', N'GTTH3', CAST(N'2023-06-08' AS Date), CAST(N'2023-06-08' AS Date), CAST(N'2023-09-08' AS Date), N'Hoạt Động')
INSERT [dbo].[THIETBI] ([MaThietBi], [TenThietBi], [HinhAnh], [MoTa], [SoLuong], [ThuongHieu], [TinhTrang], [NgayNhap], [MaLoai], [MaNV]) VALUES (N'TB2', N'xxx', N'sky.png', N'<br>', 1, NULL, NULL, CAST(N'2023-06-01' AS Date), NULL, NULL)
INSERT [dbo].[THIETBI] ([MaThietBi], [TenThietBi], [HinhAnh], [MoTa], [SoLuong], [ThuongHieu], [TinhTrang], [NgayNhap], [MaLoai], [MaNV]) VALUES (N'TB3', N'aaa', N'cute.png', N'<br>', 1, NULL, NULL, CAST(N'2023-06-03' AS Date), 3, NULL)
INSERT [dbo].[TINTUC] ([MaTinTuc], [TieuDe], [NoiDung], [NgayTao], [MaNV], [HinhAnh]) VALUES (1, N'Bạn có nên tập Yoga không? Vì sao?', N'yoga khỏe ', CAST(N'2023-06-09' AS Date), N'NV1', N'ic_slogan.jpg')
SET ANSI_PADDING ON

GO
/****** Object:  Index [Unique_HOADON]    Script Date: 11/06/2023 02:04:19 AM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [Unique_HOADON] UNIQUE NONCLUSTERED 
(
	[MaThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_kjt6m60s40de8k310wpq5ben0]    Script Date: 11/06/2023 02:04:19 AM ******/
ALTER TABLE [dbo].[NHANVIEN_HOADON] ADD  CONSTRAINT [UK_kjt6m60s40de8k310wpq5ben0] UNIQUE NONCLUSTERED 
(
	[hoaDons_MasoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [FK_DIEMDANH_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [FK_DIEMDANH_KHACHHANG]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [FK_DIEMDANH_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [FK_DIEMDANH_NHANVIEN]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [FKoh1609vg00uts8jkk7nlmoqnu] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [FKoh1609vg00uts8jkk7nlmoqnu]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [FKrfavql3bhnrb4osrqm29mlxgq] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [FKrfavql3bhnrb4osrqm29mlxgq]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_PHONGTAP] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONGTAP] ([MaPhong])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_PHONGTAP]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK2ko5e8p9cjk5haditd0midgy1] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONGTAP] ([MaPhong])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK2ko5e8p9cjk5haditd0midgy1]
GO
ALTER TABLE [dbo].[GOITAP]  WITH CHECK ADD  CONSTRAINT [FK_GOITAP_LOPDV] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOPDV] ([MaLop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GOITAP] CHECK CONSTRAINT [FK_GOITAP_LOPDV]
GO
ALTER TABLE [dbo].[GOITAP]  WITH CHECK ADD  CONSTRAINT [FK_GOITAP_PT] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIANGVIEN] ([MaGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GOITAP] CHECK CONSTRAINT [FK_GOITAP_PT]
GO
ALTER TABLE [dbo].[GOITAP]  WITH CHECK ADD  CONSTRAINT [FK1lxh8l0e5ngr27k4wbnejkh87] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIANGVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[GOITAP] CHECK CONSTRAINT [FK1lxh8l0e5ngr27k4wbnejkh87]
GO
ALTER TABLE [dbo].[GOITAP]  WITH CHECK ADD  CONSTRAINT [FKbp3vxj5xu5ondksb9w2atgfwb] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOPDV] ([MaLop])
GO
ALTER TABLE [dbo].[GOITAP] CHECK CONSTRAINT [FKbp3vxj5xu5ondksb9w2atgfwb]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FKq7uqpo4tmkqaujwevsvceaceq] FOREIGN KEY([MaThe])
REFERENCES [dbo].[THE] ([MaThe])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FKq7uqpo4tmkqaujwevsvceaceq]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FKqhyfkqp396i0yg8v350gibv7h] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FKqhyfkqp396i0yg8v350gibv7h]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FKrsqx1rue7hw8m76m7ww4xebvf] FOREIGN KEY([Username])
REFERENCES [dbo].[TAIKHOAN] ([Username])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FKrsqx1rue7hw8m76m7ww4xebvf]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FKepry8ikqfop2ylr5k5leotdiy] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[PHANQUYEN] ([MaQuyen])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FKepry8ikqfop2ylr5k5leotdiy]
GO
ALTER TABLE [dbo].[THE]  WITH CHECK ADD  CONSTRAINT [FKahfpy15g1iunufoxvmmbjqggx] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THE] CHECK CONSTRAINT [FKahfpy15g1iunufoxvmmbjqggx]
GO
ALTER TABLE [dbo].[THE]  WITH CHECK ADD  CONSTRAINT [FKgq0hi0bc3ylplutw23x3n3wyp] FOREIGN KEY([MaGoiTap])
REFERENCES [dbo].[GOITAP] ([MaGoiTap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[THE] CHECK CONSTRAINT [FKgq0hi0bc3ylplutw23x3n3wyp]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_LOAITHIETBI] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAITHIETBI] ([MaLoai])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_LOAITHIETBI]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_NHANVIEN]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK3sjlnruo4g844ashvn2mu3e9p] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAITHIETBI] ([MaLoai])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK3sjlnruo4g844ashvn2mu3e9p]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FKdliwtkuu122020i9xo0jxgskb] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FKdliwtkuu122020i9xo0jxgskb]
GO
ALTER TABLE [dbo].[TINTUC]  WITH CHECK ADD  CONSTRAINT [FK_TINTUC_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TINTUC] CHECK CONSTRAINT [FK_TINTUC_NHANVIEN]
GO
ALTER TABLE [dbo].[TINTUC]  WITH CHECK ADD  CONSTRAINT [FKglbo6h5echb5b3fyr9prv8bb2] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TINTUC] CHECK CONSTRAINT [FKglbo6h5echb5b3fyr9prv8bb2]
GO
ALTER TABLE [dbo].[GOITAP]  WITH CHECK ADD  CONSTRAINT [CK_GOITAP_TRANGTHAI] CHECK  (([TrangThai]=(1) OR [TrangThai]=(0)))
GO
ALTER TABLE [dbo].[GOITAP] CHECK CONSTRAINT [CK_GOITAP_TRANGTHAI]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TrangThai] CHECK  (([TrangThai]=(1) OR [TrangThai]=(0)))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_TrangThai]
GO
USE [master]
GO
